/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*asterisk wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    color: #331b0d;
    background-color: #d6d1ca;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

/*header*/

header {
    background-color: #d6d1ca;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 5px #331b0d;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Delius Unicase', sans-serif;

}

header a {
    text-decoration: none;
    color: #331b0d;
    
}

/*main*/
main {
    flex: 1 0 auto;
    padding-top: 60.8px;

}

#home {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    max-width: 100%;
  
    
}

/*Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-karolina-grabowska-6641316.jpg") no-repeat center center/cover;
}

h2 {
    font-size: 90%;
}

h3 {
    font-size: 80%;
}

/*gallery*/
#photos img {
    width: 100%;
}

/*footer*/
footer {
    color: #d6d1ca;
    background-color: #331b0d;
    height: 60px;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 160%;
  

}

li {
    display: inline;
    padding-bottom: 2em;
    text-align: center;
    
}

footer li {
    margin: auto 0.5em;
}

.active {
    font-weight: bolder;
}

#logo {
    position: relative;
    
}

/*media query, for larger and landscape phones (576px and up)*/

@media screen and (min-width: 576px) {
#photos {
    column-count: 2;
    column-gap: 2px;
}

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*header*/
   nav {
    text-align: right;
   }
    /*gallery*/
    #photos {
    column-count: 3;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /*gallery*/
    #photos {
    column-count: 4;
    }
}
